// Animations

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    pointer-events: none;
    transform: translateX(50%);
  }
  99% {
    pointer-events: none;
  }
  100% {
    opacity: 1;
    pointer-events: auto;
    transform: translateX(0);
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    pointer-events: none;
    transform: translateX(-50%);
  }
  99% {
    pointer-events: none;
  }
  100% {
    opacity: 1;
    pointer-events: auto;
    transform: translateX(0);
  }
}

@keyframes inFromRight {
  0% {
    transform: translateX(50%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes inFromLeft {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes fadeOutRight {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(50%);
  }
}

@keyframes fadeOutLeft {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-50%);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes navToggle {
  0% {
    width: 50%;
  }
  100% {
    width: 25px;
  }
}

@keyframes navOpen {
  to {
    width: 50%;
  }
}

@keyframes navClose {
  to {
    width: 85px;
  }
}
