// Variables

// Colors

$black: #211A1E;
$white: #fff;
$gray: #989192;
$gray-light: #dedede;
$gray-hover: rgb(80,192,172);

$orange: #F4AA79;
$green: #52BFAC;
$blue: #B7CFD3;
$yellow: #EFD88E;
$dark: #211B1D;

// $blue: #2E85B8;
$blue-light: #CCE0EC;
$turquoise: #5E9E9E;
$turquoise-light: #C7DDDD;
$gold: #F0AB38;
$tan: #D9D6B8;
$red: #F05C47;
// $green: #78876E;
$green-dark: #5C7533;
$salmon: #E3C9C9;
$salmon-dark: #DFC3C3;
// $orange: #E3BA80;

// Brand Swatches
$brand-primary: $black;
$brand-secondary: $white;

// Breakpoints
$breakpoint-small: 480px;
$breakpoint-medium: 768px;
$breakpoint-large: 1024px;
$breakpoint-huge: 1600px;